@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans|Roboto&display=swap');
body {
  overflow: hidden;
}
a {
  text-decoration: none;
}
.container1 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: 'Josefin Slab', sans-serif;
}

.container1 > input,
.container1 > a {
	position: fixed;
	bottom: 0px;
	width: 20%;
	cursor: pointer;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
}

.container1 > input {
	opacity: 0;
	z-index: 1000;
}

.container1 > a {
	z-index: 10;
	font-weight: 700;
	background: #351C75;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
.container1:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 34px;
	background: #e23a6e;
	z-index: 9;
	bottom: 0;
}

#control-1, #control-1 + a {
	left: 0;
}

#control-2, #control-2 + a {
	left: 20%;
}

#control-3, #control-3 + a {
	left: 40%;
}

#control-4, #control-4 + a {
	left: 60%;
}

#control-5, #control-5 + a {
	left: 80%;
}

.container1 > input:checked + a,
.container1 > input:checked:hover + a{
	background: #999999;
}

.container1 > input:checked + a:after,
.container1 > input:checked:hover + a:after{
	bottom: 100%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #D84949;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}

.container1 > input:hover + a{
	background: #D84949;
}

.container1 > input:hover + a:after {
	border-bottom-color: #AD244F;
}

.scroll,
.panel {
	position: relative;
	width: 100%;
	height: 100%;
}

.scroll {
	top: 0;
	left: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;


	/* Let's enforce some hardware acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}

.panel{
	background: #fff;
	overflow: hidden;
}

#control-1:checked ~ .scroll {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
#control-2:checked ~ .scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
#control-3:checked ~ .scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}
#control-4:checked ~ .scroll {
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
}
#control-5:checked ~ .scroll {
	-webkit-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-o-transform: translateY(-400%);
	-ms-transform: translateY(-400%);
	transform: translateY(-400%);
}


/* Content elements */
/*
.photo{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -100px;
	background: #96B5FA;
	-webkit-transform: translateY(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) rotate(45deg);
	-o-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
} */

.img:after {
    content: attr(data-icon);
    /* font-family: 'FontAwesome'; */
    color: #fff;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	position: absolute;
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	font-size: 90px;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	-webkit-transform: rotate(-45deg) translateY(25%);
	-moz-transform: rotate(-45deg) translateY(25%);
	-o-transform: rotate(-45deg) translateY(25%);
	-ms-transform: rotate(-45deg) translateY(25%);
	transform: rotate(-45deg) translateY(25%);
}

/*
#text {
  font: "Josefin Slab";
  font-size: 14px;
  color: white;

}
#box1info{
  color: #e23a6e;
  text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
  position: absolute;
  font-size: 54px;
  font-weight: 900;
  width: 80%;
  left: 10%;
  text-align: center;
  line-height: 50px;
  margin: 0 0 0 0;
  padding: 0;
  top: 50%;
  -webkit-backface-visibility: hidden;
} */


/* #box1info{
  font: "Josefin Slab", Arial;
  color: #e23a6e;
  text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
  position: relative;
  font-size: 54px;
  font-weight: 900;
  width: 80%;
  left: 10%;
  text-align: center;
  line-height: 50px;
  margin: 30px 0 0 0;
  padding: 0;
}
  top: 50%;
   /* .text {
    font-size: 16px;
  } */ 


.panel h2 a{
  font-family: "Josefin Slab", sans-serif;
	color: #322676;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	position: absolute;
	font-size: 54px;
	font-weight: 900;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	margin: -70px 0 0 0;
	padding: 0;
	top: 50%;
	-webkit-backface-visibility: hidden;
}

#control-1:checked ~ .scroll #panel-1 h2,
#control-2:checked ~ .scroll #panel-2 h2,
#control-3:checked ~ .scroll #panel-3 h2,
#control-4:checked ~ .scroll #panel-4 h2,
#control-5:checked ~ .scroll #panel-5 h2{
	-webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
	0% {
		-webkit-transform: translateY(-40px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0px);
		opacity: 1;
	}
}

@-moz-keyframes moveDown{
	0% {
		-moz-transform: translateY(-40px);
		opacity: 0;
	}
	100% {
		-moz-transform: translateY(0px);
		opacity: 1;
	}
}

@-o-keyframes moveDown{
	0% {
		-o-transform: translateY(-40px);
		opacity: 0;
	}
	100% {
		-o-transform: translateY(0px);
		opacity: 1;
	}
}

@-ms-keyframes moveDown{
	0% {
		-ms-transform: translateY(-40px);
		opacity: 0;
	}
	100% {
		-ms-transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes moveDown{
	0% {
		transform: translateY(-40px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.panel p {
	position: absolute;
	text-align: center;
	font-size: 20px;
	line-height: 22px;
	color: #00008B;
	z-index: 2;
	padding: 0;
	width: 50%;
	left: 25%;
	top: 50%;
	margin: 10px 0 0 0;
	-webkit-backface-visibility: hidden;
}
#control-1:checked ~ .scroll #panel-1 p,
#control-2:checked ~ .scroll #panel-2 p,
#control-3:checked ~ .scroll #panel-3 p,
#control-4:checked ~ .scroll #panel-4 p,
#control-5:checked ~ .scroll #panel-5 p{
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
	0% {
		-webkit-transform: translateY(40px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0px);
		opacity: 1;
	}
}

@-moz-keyframes moveUp{
	0% {
		-moz-transform: translateY(40px);
		opacity: 0;
	}
	100% {
		-moz-transform: translateY(0px);
		opacity: 1;
	}
}

@-o-keyframes moveUp{
	0% {
		-o-transform: translateY(40px);
		opacity: 0;
	}
	100% {
		-o-transform: translateY(0px);
		opacity: 1;
	}
}

@-ms-keyframes moveUp{
	0% {
		-ms-transform: translateY(40px);
		opacity: 0;
	}
	100% {
		-ms-transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes moveUp{
	0% {
		transform: translateY(40px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

/* Colored sections */

.color,
.photo{
	background: #96B5FA;
}

.color h2 {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.color p {
	color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
	/* color: rgba(255,255,255,0.8); */
}

@media screen and (max-width: 520px) {
	.panel h2 {
		font-size: 42px;
	}

	.panel p {
		width: 90%;
		left: 5%;
		margin: 0;
    font-size: 14px;
	}

	.container > a {

	}
}
@media screen and (max-width: 360px) {
  .container > a {
		font-size: 10px;
	}
/*
	.photo{
		width: 120px;
		height: 120px;
		margin-left: -60px;
	}

.photo:after {
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	} */
}
