@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat|Open+Sans|Roboto');

@supports (display:grid){
  .message {
  display: none;
}


/* body{
  text-align: justify;
    } */

main {
  width: 100%;

       }

.boxClass{
  width: 100%;
  height: 20vh;
  padding-top: 30px;
  font-family: "Montserrat", Arial,sans-serif;
  font-weight: bolder;
  font-size: 2.5em;
  color: rgb(178,34,34);
  text-decoration: none;
  text-align: justify;
}

#box1 {
  background-position: 15%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(.7);
  background-image: url("../images/book.jpg");
  box-shadow: inset 0px 0px 5px 5px #CD853F;
}

#box1info {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-color: whitesmoke;
    overflow: scroll;

}


#box2 {
  background-image: url("../images/flowers.jpg");
  filter: opacity(.7);
  background-position: 15%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 2px 2px #CD853F;
}

#box2info {
  width: 80%;
  height: auto;
  margin: 0 auto;
  }

#box3 {
  background-position: 15%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(.7);
  background-image: url("../images/tin_candle.jpg");
  box-shadow: inset 0px 0px 5px 5px #CD853F;
}

#box3info {
  width: 80%;
  height: auto;
  margin: 0 auto;

}

h1 h2{
  font-family: "Montserrat",Arial, sans-serif;
  font-style:italic;
  text-align: center;

  }


header {
  background-image: url("../images/flame_unsplash.jpg");
  background-position: center;
  padding: 10px;
  filter:opacity(.9);
  color: rgb(178,34,34);
  box-shadow: inset 0px 0px 10px 10px #CD853F;
  font-size: 14px;
  background-repeat: no-repeat;
}


#wrapper1{
  position:relative;
  padding-bottom: 2%;
}

/* #navbar{
  position: absolute;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: bold;

  } */


  #wrapper {
    font-size: 14px;
    color: 	 #0d0d0d;
    text-align: center;
    font-family: "Montserrat", Arial, sans-serif;
      }
